	/*
  	ui-admin icon font: ui-admin
  	Creation date: 22/06/2016 15:10
  	*/

@font-face {
  font-family: "ui-admin";
  src: url("/files/admin/fonts/ui-admin.eot");
  src: url("/files/admin/fonts/ui-admin.eot?#iefix") format("embedded-opentype"),
       url("/files/admin/fonts/ui-admin.woff") format("woff"),
       url("/files/admin/fonts/ui-admin.ttf") format("truetype"),
       url("/files/admin/fonts/ui-admin.svg#ui-admin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "ui-admin";
    src: url("/files/admin/fonts/ui-admin.svg#ui-admin") format("svg");
  }
}

[class^="ui-admin-"]:before, [class*=" ui-admin-"]:before,
[class^="ui-admin-"]:after, [class*=" ui-admin-"]:after {   
  font-family: ui-admin;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.ui-admin-accesibility-sign:before { content: "\f100"; }
.ui-admin-access-key-filled-circular-tool:before { content: "\f101"; }
.ui-admin-acrobat-reader-file:before { content: "\f102"; }
.ui-admin-add-button-circle:before { content: "\f103"; }
.ui-admin-add-filled-cross-sign:before { content: "\f104"; }
.ui-admin-airplane-filled-shape:before { content: "\f105"; }
.ui-admin-airplane-silhouette:before { content: "\f106"; }
.ui-admin-alarm-bell-outline:before { content: "\f107"; }
.ui-admin-alphabetical-order:before { content: "\f108"; }
.ui-admin-anchor-navigational-interface-sign:before { content: "\f109"; }
.ui-admin-antique-building:before { content: "\f10a"; }
.ui-admin-archive-filled-box:before { content: "\f10b"; }
.ui-admin-arrow-angle-pointing-to-right:before { content: "\f10c"; }
.ui-admin-arrow-double-up-and-down-sign:before { content: "\f10d"; }
.ui-admin-arrow-down-broken-filled-angle:before { content: "\f10e"; }
.ui-admin-arrow-down-curve:before { content: "\f10f"; }
.ui-admin-arrow-down-filled-triangle:before { content: "\f110"; }
.ui-admin-arrow-left-broken-angle:before { content: "\f111"; }
.ui-admin-arrow-pointing-to-right:before { content: "\f112"; }
.ui-admin-arrow-right-curve:before { content: "\f113"; }
.ui-admin-arrows-circle-of-two-rotating-in-clockwise-direction:before { content: "\f114"; }
.ui-admin-arrows-couple-to-opposite-directions:before { content: "\f115"; }
.ui-admin-arrows-right-and-left-filled-triangles:before { content: "\f116"; }
.ui-admin-arrows-triangles-pointing-to-opposite-sides:before { content: "\f117"; }
.ui-admin-arrows-up-and-down-filled-triangles:before { content: "\f118"; }
.ui-admin-ascending-arrow:before { content: "\f119"; }
.ui-admin-ascending-business-graphic:before { content: "\f11a"; }
.ui-admin-asterisk:before { content: "\f11b"; }
.ui-admin-audio-file:before { content: "\f11c"; }
.ui-admin-audio-filled-speaker-of-interface:before { content: "\f11d"; }
.ui-admin-automatic-rotation:before { content: "\f11e"; }
.ui-admin-automatic-rotation-to-vertical-or-horizontal-position:before { content: "\f11f"; }
.ui-admin-back-filled-arrow:before { content: "\f120"; }
.ui-admin-back-left-arrow:before { content: "\f121"; }
.ui-admin-back-left-arrow-circular-button:before { content: "\f122"; }
.ui-admin-back-triangular-arrow-square-button-outline:before { content: "\f123"; }
.ui-admin-back-triangular-left-arrow-in-square-filled-button:before { content: "\f124"; }
.ui-admin-barcode-lines:before { content: "\f125"; }
.ui-admin-bars-graphic:before { content: "\f126"; }
.ui-admin-bell-silhouette:before { content: "\f127"; }
.ui-admin-bold:before { content: "\f128"; }
.ui-admin-bomb:before { content: "\f129"; }
.ui-admin-book:before { content: "\f12a"; }
.ui-admin-book-1:before { content: "\f12b"; }
.ui-admin-book-closed-tool:before { content: "\f12c"; }
.ui-admin-bookmark-filled-interface-sign:before { content: "\f12d"; }
.ui-admin-bottle-with-liquid:before { content: "\f12e"; }
.ui-admin-browser-button:before { content: "\f12f"; }
.ui-admin-building:before { content: "\f130"; }
.ui-admin-building-silhouette:before { content: "\f131"; }
.ui-admin-burn:before { content: "\f132"; }
.ui-admin-business-ascendant-graphic-line:before { content: "\f133"; }
.ui-admin-business-stats-file:before { content: "\f134"; }
.ui-admin-button-of-three-squares:before { content: "\f135"; }
.ui-admin-button-of-three-vertical-squares:before { content: "\f136"; }
.ui-admin-calculator:before { content: "\f137"; }
.ui-admin-car-filled-frontal-transport:before { content: "\f138"; }
.ui-admin-characters-interface-button-with-oriental-sign:before { content: "\f139"; }
.ui-admin-characters-interface-sign:before { content: "\f13a"; }
.ui-admin-chat-message-oval-outlined-speech-bubble:before { content: "\f13b"; }
.ui-admin-chat-of-a-couple-of-filled-rectangular-speech-bubbles:before { content: "\f13c"; }
.ui-admin-chat-oval-filled-speech-bubble:before { content: "\f13d"; }
.ui-admin-chat-oval-filled-speech-bubbles:before { content: "\f13e"; }
.ui-admin-chatting-oval-speech-bubbles:before { content: "\f13f"; }
.ui-admin-checked-box:before { content: "\f140"; }
.ui-admin-checkmark-for-verification:before { content: "\f141"; }
.ui-admin-checkmark-outline:before { content: "\f142"; }
.ui-admin-christmas-tree-silhouette:before { content: "\f143"; }
.ui-admin-circle:before { content: "\f144"; }
.ui-admin-circle-of-two-clockwise-arrows-rotation:before { content: "\f145"; }
.ui-admin-circle-with-irregular-shape-inside:before { content: "\f146"; }
.ui-admin-circles-loader:before { content: "\f147"; }
.ui-admin-clipboard:before { content: "\f148"; }
.ui-admin-clipboard-filled-with-text:before { content: "\f149"; }
.ui-admin-clipboard-rotated-interface-tool:before { content: "\f14a"; }
.ui-admin-clock-circular-outline:before { content: "\f14b"; }
.ui-admin-clock-with-circular-arrow:before { content: "\f14c"; }
.ui-admin-cloud-filled-shape:before { content: "\f14d"; }
.ui-admin-cocktail-glass-silhouette:before { content: "\f14e"; }
.ui-admin-code-programming-file:before { content: "\f14f"; }
.ui-admin-code-programming-signs:before { content: "\f150"; }
.ui-admin-code-sign:before { content: "\f151"; }
.ui-admin-collapse-rectangular-filled-button-of-interface:before { content: "\f152"; }
.ui-admin-compass:before { content: "\f153"; }
.ui-admin-compressed-zip-file:before { content: "\f154"; }
.ui-admin-contrast-circular-button:before { content: "\f155"; }
.ui-admin-copy-interface-outlined-sign:before { content: "\f156"; }
.ui-admin-credit-or-debit-card:before { content: "\f157"; }
.ui-admin-cropping-tool-button-of-interface:before { content: "\f158"; }
.ui-admin-cross:before { content: "\f159"; }
.ui-admin-cross-circular-button:before { content: "\f15a"; }
.ui-admin-cross-remove-sign:before { content: "\f15b"; }
.ui-admin-crosshair-target-interface:before { content: "\f15c"; }
.ui-admin-cube:before { content: "\f15d"; }
.ui-admin-cubes-stack:before { content: "\f15e"; }
.ui-admin-curved-up-arrow:before { content: "\f15f"; }
.ui-admin-data-storage-discs-stack:before { content: "\f160"; }
.ui-admin-database:before { content: "\f161"; }
.ui-admin-design-button:before { content: "\f162"; }
.ui-admin-design-structure-square-button:before { content: "\f163"; }
.ui-admin-digital-interface-sign-of-motherboard:before { content: "\f164"; }
.ui-admin-dislike-social-gesture:before { content: "\f165"; }
.ui-admin-double-horizontal-arrow:before { content: "\f166"; }
.ui-admin-down-arrow:before { content: "\f167"; }
.ui-admin-down-arrow-angle:before { content: "\f168"; }
.ui-admin-down-arrow-button:before { content: "\f169"; }
.ui-admin-down-filled-hand-gesture:before { content: "\f16a"; }
.ui-admin-down-triangular-arrow-button:before { content: "\f16b"; }
.ui-admin-download-from-the-cloud:before { content: "\f16c"; }
.ui-admin-download-interface-sign:before { content: "\f16d"; }
.ui-admin-edit:before { content: "\f16e"; }
.ui-admin-email-outbox:before { content: "\f16f"; }
.ui-admin-equalization-button:before { content: "\f170"; }
.ui-admin-equalizer-console-with-three-switches-at-different-levels:before { content: "\f171"; }
.ui-admin-erase:before { content: "\f172"; }
.ui-admin-event-empty-calendar-page:before { content: "\f173"; }
.ui-admin-exclamation-warning-sign:before { content: "\f174"; }
.ui-admin-expand:before { content: "\f175"; }
.ui-admin-expand-four-arrows-rectangular-button:before { content: "\f176"; }
.ui-admin-eye-on-monitor-screen:before { content: "\f177"; }
.ui-admin-facebook-logo:before { content: "\f178"; }
.ui-admin-facebook-square-social-logo:before { content: "\f179"; }
.ui-admin-faq-circular-filled-button:before { content: "\f17a"; }
.ui-admin-favorite:before { content: "\f17b"; }
.ui-admin-fax:before { content: "\f17c"; }
.ui-admin-file-add-filled-button:before { content: "\f17d"; }
.ui-admin-file-fill-rectangle:before { content: "\f17e"; }
.ui-admin-file-of-text:before { content: "\f17f"; }
.ui-admin-file-outlined-blank-paper-sheet:before { content: "\f180"; }
.ui-admin-film-strip:before { content: "\f181"; }
.ui-admin-filter-filled-tool:before { content: "\f182"; }
.ui-admin-finger-pointing-left-of-filled-hand-gesture:before { content: "\f183"; }
.ui-admin-finger-pointing-up-of-filled-hand-gesture:before { content: "\f184"; }
.ui-admin-fire-extinguisher:before { content: "\f185"; }
.ui-admin-flag-checkered-sportive-tool:before { content: "\f186"; }
.ui-admin-flag-fill-shape:before { content: "\f187"; }
.ui-admin-flag-filled-shape:before { content: "\f188"; }
.ui-admin-flag-or-text-lines-with-a-video:before { content: "\f189"; }
.ui-admin-flag-sportive-tool-outline:before { content: "\f18a"; }
.ui-admin-folder-filled-shape:before { content: "\f18b"; }
.ui-admin-four-thumbnails-visualization-button:before { content: "\f18c"; }
.ui-admin-game-control:before { content: "\f18d"; }
.ui-admin-gear-configuration-interface:before { content: "\f18e"; }
.ui-admin-gears-configuration-tool:before { content: "\f18f"; }
.ui-admin-giftbox:before { content: "\f190"; }
.ui-admin-google-plus-logo:before { content: "\f191"; }
.ui-admin-graduate-hat:before { content: "\f192"; }
.ui-admin-group-filled-persons:before { content: "\f193"; }
.ui-admin-group-of-people:before { content: "\f194"; }
.ui-admin-hammer-silhouette:before { content: "\f195"; }
.ui-admin-hammer-silhouette-1:before { content: "\f196"; }
.ui-admin-hard-disk:before { content: "\f197"; }
.ui-admin-headphones-silhouette:before { content: "\f198"; }
.ui-admin-help-circular-filled-button:before { content: "\f199"; }
.ui-admin-hierarchical-structure:before { content: "\f19a"; }
.ui-admin-hierarchy:before { content: "\f19b"; }
.ui-admin-home-silhouette:before { content: "\f19c"; }
.ui-admin-horizontal-rectangle-with-lines:before { content: "\f19d"; }
.ui-admin-horizontal-rectangles-lines:before { content: "\f19e"; }
.ui-admin-image:before { content: "\f19f"; }
.ui-admin-image-file-type:before { content: "\f1a0"; }
.ui-admin-image-filled-square-button:before { content: "\f1a1"; }
.ui-admin-image-square-button:before { content: "\f1a2"; }
.ui-admin-images:before { content: "\f1a3"; }
.ui-admin-inbox-download-interface-sign:before { content: "\f1a4"; }
.ui-admin-inbox-empty-tray:before { content: "\f1a5"; }
.ui-admin-information:before { content: "\f1a6"; }
.ui-admin-information-1:before { content: "\f1a7"; }
.ui-admin-information-circle:before { content: "\f1a8"; }
.ui-admin-ink-drop-filled-shape:before { content: "\f1a9"; }
.ui-admin-interface-button-of-four-thumbnails:before { content: "\f1aa"; }
.ui-admin-interface-circular-sign:before { content: "\f1ab"; }
.ui-admin-invisible:before { content: "\f1ac"; }
.ui-admin-italic-text:before { content: "\f1ad"; }
.ui-admin-jar-filled-silhouette:before { content: "\f1ae"; }
.ui-admin-key-access-button:before { content: "\f1af"; }
.ui-admin-keyword:before { content: "\f1b0"; }
.ui-admin-label-commercial-circular-filled-tool:before { content: "\f1b1"; }
.ui-admin-laptop:before { content: "\f1b2"; }
.ui-admin-layout:before { content: "\f1b3"; }
.ui-admin-layout-square-interface-button:before { content: "\f1b4"; }
.ui-admin-leaf-filled-shape:before { content: "\f1b5"; }
.ui-admin-left-and-right-arrows-buttons:before { content: "\f1b6"; }
.ui-admin-left-angle-arrow:before { content: "\f1b7"; }
.ui-admin-left-arrow:before { content: "\f1b8"; }
.ui-admin-left-arrow-1:before { content: "\f1b9"; }
.ui-admin-left-filled-arrow:before { content: "\f1ba"; }
.ui-admin-left-quote:before { content: "\f1bb"; }
.ui-admin-left-quote-1:before { content: "\f1bc"; }
.ui-admin-lifesaver:before { content: "\f1bd"; }
.ui-admin-lifesaver-1:before { content: "\f1be"; }
.ui-admin-lightbulb-creativity-interface-sign-outline:before { content: "\f1bf"; }
.ui-admin-lightbulb-filled-interface-sign:before { content: "\f1c0"; }
.ui-admin-lightning-bolt-filled-shape:before { content: "\f1c1"; }
.ui-admin-like:before { content: "\f1c2"; }
.ui-admin-like-filled-hand:before { content: "\f1c3"; }
.ui-admin-like-heart-social-shape-outline:before { content: "\f1c4"; }
.ui-admin-like-social-heart:before { content: "\f1c5"; }
.ui-admin-link:before { content: "\f1c6"; }
.ui-admin-link-break:before { content: "\f1c7"; }
.ui-admin-list-button:before { content: "\f1c8"; }
.ui-admin-list-square-button:before { content: "\f1c9"; }
.ui-admin-list-with-bullets:before { content: "\f1ca"; }
.ui-admin-lock-closed-padlock-silhouette:before { content: "\f1cb"; }
.ui-admin-lock-square-locked-filled-padlock:before { content: "\f1cc"; }
.ui-admin-login:before { content: "\f1cd"; }
.ui-admin-login-left-arrow:before { content: "\f1ce"; }
.ui-admin-logout:before { content: "\f1cf"; }
.ui-admin-logout-button:before { content: "\f1d0"; }
.ui-admin-logout-square-button:before { content: "\f1d1"; }
.ui-admin-logout-square-outlined-interface-button:before { content: "\f1d2"; }
.ui-admin-logout-web-button:before { content: "\f1d3"; }
.ui-admin-lyrics:before { content: "\f1d4"; }
.ui-admin-magic-wand:before { content: "\f1d5"; }
.ui-admin-man-silhouette-with-raised-arms:before { content: "\f1d6"; }
.ui-admin-man-with-tie:before { content: "\f1d7"; }
.ui-admin-map:before { content: "\f1d8"; }
.ui-admin-megaphone-or-speaker-silhouette:before { content: "\f1d9"; }
.ui-admin-men-silhouette:before { content: "\f1da"; }
.ui-admin-menu:before { content: "\f1db"; }
.ui-admin-message-rectangular-filled-speech-bubble:before { content: "\f1dc"; }
.ui-admin-message-speech-bubble-rectangle-with-text:before { content: "\f1dd"; }
.ui-admin-minus:before { content: "\f1de"; }
.ui-admin-minus-button:before { content: "\f1df"; }
.ui-admin-minus-button-1:before { content: "\f1e0"; }
.ui-admin-minus-button-rectangle:before { content: "\f1e1"; }
.ui-admin-minus-line:before { content: "\f1e2"; }
.ui-admin-minus-sign-in-filled-circle:before { content: "\f1e3"; }
.ui-admin-mobile-phone-filled-tool:before { content: "\f1e4"; }
.ui-admin-money-bill-of-one:before { content: "\f1e5"; }
.ui-admin-monitor:before { content: "\f1e6"; }
.ui-admin-movie-camera-silhouette:before { content: "\f1e7"; }
.ui-admin-multimedia-play-square-button:before { content: "\f1e8"; }
.ui-admin-music-file-filled-interface-sign:before { content: "\f1e9"; }
.ui-admin-musical-note:before { content: "\f1ea"; }
.ui-admin-mute-microphone:before { content: "\f1eb"; }
.ui-admin-new-email-button:before { content: "\f1ec"; }
.ui-admin-new-email-filled-back-envelope:before { content: "\f1ed"; }
.ui-admin-new-email-filled-closed-envelope-back:before { content: "\f1ee"; }
.ui-admin-newspaper:before { content: "\f1ef"; }
.ui-admin-night-moon-phase:before { content: "\f1f0"; }
.ui-admin-numbered-list:before { content: "\f1f1"; }
.ui-admin-numeric-ascending-sort:before { content: "\f1f2"; }
.ui-admin-numerical-descending-sort-button-of-interface:before { content: "\f1f3"; }
.ui-admin-old-elevator-levels-tool:before { content: "\f1f4"; }
.ui-admin-omega-sign:before { content: "\f1f5"; }
.ui-admin-orientation-filled-arrow:before { content: "\f1f6"; }
.ui-admin-oval-filled-speech-bubble-with-circles:before { content: "\f1f7"; }
.ui-admin-paintbrush:before { content: "\f1f8"; }
.ui-admin-painting-painter-palette-filled-tool:before { content: "\f1f9"; }
.ui-admin-paper-airplane:before { content: "\f1fa"; }
.ui-admin-paper-plane:before { content: "\f1fb"; }
.ui-admin-paragraph-sign:before { content: "\f1fc"; }
.ui-admin-paragraph-text-button-of-interface:before { content: "\f1fd"; }
.ui-admin-paragraph-text-interface-sign:before { content: "\f1fe"; }
.ui-admin-pawprint:before { content: "\f1ff"; }
.ui-admin-pencil-striped-writing-tool:before { content: "\f200"; }
.ui-admin-person-business-card:before { content: "\f201"; }
.ui-admin-person-in-a-circle:before { content: "\f202"; }
.ui-admin-phone:before { content: "\f203"; }
.ui-admin-phone-call-button:before { content: "\f204"; }
.ui-admin-phone-call-square-button:before { content: "\f205"; }
.ui-admin-photo-camera:before { content: "\f206"; }
.ui-admin-photo-camera-1:before { content: "\f207"; }
.ui-admin-photo-camera-filled-tool:before { content: "\f208"; }
.ui-admin-photo-capture-sound:before { content: "\f209"; }
.ui-admin-photo-sharing-square-interface-button:before { content: "\f20a"; }
.ui-admin-pin-circular-silhouette:before { content: "\f20b"; }
.ui-admin-pin-filled-silhouette:before { content: "\f20c"; }
.ui-admin-pin-silhouette:before { content: "\f20d"; }
.ui-admin-placeholder-filled-point:before { content: "\f20e"; }
.ui-admin-play-filled-square-button:before { content: "\f20f"; }
.ui-admin-play-filled-triangle-button-of-right-arrow:before { content: "\f210"; }
.ui-admin-play-player-button-of-video:before { content: "\f211"; }
.ui-admin-play-square-control-button-for-multimedia:before { content: "\f212"; }
.ui-admin-plug-silhouette:before { content: "\f213"; }
.ui-admin-portfolio-filled-open-folder:before { content: "\f214"; }
.ui-admin-portfolio-filled-tool:before { content: "\f215"; }
.ui-admin-power-button:before { content: "\f216"; }
.ui-admin-printing-filled-interface-button:before { content: "\f217"; }
.ui-admin-programming-code-signs:before { content: "\f218"; }
.ui-admin-prohibition:before { content: "\f219"; }
.ui-admin-puzzle-piece-silhouette:before { content: "\f21a"; }
.ui-admin-question-sign-in-square-outline:before { content: "\f21b"; }
.ui-admin-question-square-button:before { content: "\f21c"; }
.ui-admin-quote-sign:before { content: "\f21d"; }
.ui-admin-rec-circular-button:before { content: "\f21e"; }
.ui-admin-rectangle-with-stripes:before { content: "\f21f"; }
.ui-admin-rectangular-interface-button:before { content: "\f220"; }
.ui-admin-rectangular-paper-sheets-filled-sign:before { content: "\f221"; }
.ui-admin-recycle-bin:before { content: "\f222"; }
.ui-admin-recycle-bin-outline:before { content: "\f223"; }
.ui-admin-recycle-three-arrows-triangle:before { content: "\f224"; }
.ui-admin-restaurant-fork-and-knife:before { content: "\f225"; }
.ui-admin-return-arrow-curve-pointing-left:before { content: "\f226"; }
.ui-admin-retweet-arrows:before { content: "\f227"; }
.ui-admin-right-arrow:before { content: "\f228"; }
.ui-admin-right-arrow-in-square-button:before { content: "\f229"; }
.ui-admin-right-direction-filled-hand-gesture:before { content: "\f22a"; }
.ui-admin-right-pagination:before { content: "\f22b"; }
.ui-admin-right-quotation-sign:before { content: "\f22c"; }
.ui-admin-ring:before { content: "\f22d"; }
.ui-admin-road-perspective:before { content: "\f22e"; }
.ui-admin-rocket-filled-space-ship:before { content: "\f22f"; }
.ui-admin-rss-feed-suscription-square-filled-button:before { content: "\f230"; }
.ui-admin-safe-box:before { content: "\f231"; }
.ui-admin-scissors-open-tool:before { content: "\f232"; }
.ui-admin-search:before { content: "\f233"; }
.ui-admin-share:before { content: "\f234"; }
.ui-admin-shield-checkered-tool:before { content: "\f235"; }
.ui-admin-shield-of-security-interface:before { content: "\f236"; }
.ui-admin-shield-silhouette-of-rhomboid-shape:before { content: "\f237"; }
.ui-admin-shopping-bag:before { content: "\f238"; }
.ui-admin-shopping-cart-silhouette:before { content: "\f239"; }
.ui-admin-shuffle-arrows:before { content: "\f23a"; }
.ui-admin-shuffle-crossing-arrows:before { content: "\f23b"; }
.ui-admin-size-option-square-button-of-lines:before { content: "\f23c"; }
.ui-admin-smile:before { content: "\f23d"; }
.ui-admin-smile-face-in-a-rectangle:before { content: "\f23e"; }
.ui-admin-sort-alphabetically-down-from-z-to-a:before { content: "\f23f"; }
.ui-admin-sort-descending:before { content: "\f240"; }
.ui-admin-sort-down:before { content: "\f241"; }
.ui-admin-speaker:before { content: "\f242"; }
.ui-admin-speaker-filled-audio-tool:before { content: "\f243"; }
.ui-admin-speaker-filled-interface-tool:before { content: "\f244"; }
.ui-admin-speech-bubble-with-cross-close-sign:before { content: "\f245"; }
.ui-admin-speedometer:before { content: "\f246"; }
.ui-admin-spoon-shape:before { content: "\f247"; }
.ui-admin-sport-recognition-ribbon-badge:before { content: "\f248"; }
.ui-admin-square-filled-geometric-shape:before { content: "\f249"; }
.ui-admin-square-outline:before { content: "\f24a"; }
.ui-admin-star-filled-fivepointed-shape:before { content: "\f24b"; }
.ui-admin-star-social-favorite-middle-full:before { content: "\f24c"; }
.ui-admin-stats-circular-filled-graphic:before { content: "\f24d"; }
.ui-admin-street-square:before { content: "\f24e"; }
.ui-admin-strikethrough-text-interface-sign:before { content: "\f24f"; }
.ui-admin-subscribe-rss-button:before { content: "\f250"; }
.ui-admin-sun:before { content: "\f251"; }
.ui-admin-tablet-vertical-tool:before { content: "\f252"; }
.ui-admin-tag-filled-tool:before { content: "\f253"; }
.ui-admin-target-of-concentric-circles:before { content: "\f254"; }
.ui-admin-taxi-filled-frontal-view:before { content: "\f255"; }
.ui-admin-tea-cup-filled-shape:before { content: "\f256"; }
.ui-admin-telephone-auricular:before { content: "\f257"; }
.ui-admin-text-center-alignment:before { content: "\f258"; }
.ui-admin-text-correction-verification:before { content: "\f259"; }
.ui-admin-text-file-filled-interface-paper-sheet:before { content: "\f25a"; }
.ui-admin-text-file-square-filled-button:before { content: "\f25b"; }
.ui-admin-text-justified-option-interface-button:before { content: "\f25c"; }
.ui-admin-text-left-alignment:before { content: "\f25d"; }
.ui-admin-text-letter:before { content: "\f25e"; }
.ui-admin-text-letter-interface:before { content: "\f25f"; }
.ui-admin-text-right-alignment-button:before { content: "\f260"; }
.ui-admin-thumb-down-social-filled-gesture:before { content: "\f261"; }
.ui-admin-travel-bag-or-portfolio-filled-tool:before { content: "\f262"; }
.ui-admin-trophy-sportive-cup-silhouette:before { content: "\f263"; }
.ui-admin-truck-silhouette:before { content: "\f264"; }
.ui-admin-twitter-social-network-logo:before { content: "\f265"; }
.ui-admin-umbrella-filled-opened-tool:before { content: "\f266"; }
.ui-admin-underlined-text-interface-button:before { content: "\f267"; }
.ui-admin-unlocked-padlock-filled-shape:before { content: "\f268"; }
.ui-admin-unlocked-padlock-filled-silhouette:before { content: "\f269"; }
.ui-admin-up-and-down-arrows-button:before { content: "\f26a"; }
.ui-admin-up-arrow:before { content: "\f26b"; }
.ui-admin-up-arrow-angle:before { content: "\f26c"; }
.ui-admin-up-arrow-button:before { content: "\f26d"; }
.ui-admin-up-arrow-filled-angle:before { content: "\f26e"; }
.ui-admin-up-arrow-in-square-filled-button:before { content: "\f26f"; }
.ui-admin-up-arrow-triangle-in-square-outlined-button:before { content: "\f270"; }
.ui-admin-up-triangle:before { content: "\f271"; }
.ui-admin-upload:before { content: "\f272"; }
.ui-admin-upload-to-internet-cloud:before { content: "\f273"; }
.ui-admin-user-filled-person-shape:before { content: "\f274"; }
.ui-admin-user-profile-square-button:before { content: "\f275"; }
.ui-admin-verification-square-button:before { content: "\f276"; }
.ui-admin-verify-button-circle:before { content: "\f277"; }
.ui-admin-video-file:before { content: "\f278"; }
.ui-admin-video-file-1:before { content: "\f279"; }
.ui-admin-video-file-filled-sign:before { content: "\f27a"; }
.ui-admin-video-filled-camera-silhouette:before { content: "\f27b"; }
.ui-admin-virus-bug:before { content: "\f27c"; }
.ui-admin-visible-opened-eye-interface-option:before { content: "\f27d"; }
.ui-admin-voice:before { content: "\f27e"; }
.ui-admin-voice-microphone:before { content: "\f27f"; }
.ui-admin-volume-bars-in-a-rectangle:before { content: "\f280"; }
.ui-admin-volume-vertical-ascending-lines:before { content: "\f281"; }
.ui-admin-warning-exclamation-sign-in-a-circle:before { content: "\f282"; }
.ui-admin-warning-exclamation-signal-in-a-triangle:before { content: "\f283"; }
.ui-admin-weekly-calendar:before { content: "\f284"; }
.ui-admin-woman-silhouette:before { content: "\f285"; }
.ui-admin-word-filled-file:before { content: "\f286"; }
.ui-admin-wordpress:before { content: "\f287"; }
.ui-admin-wordpress-logo:before { content: "\f288"; }
.ui-admin-wordpress-logo-1:before { content: "\f289"; }
.ui-admin-wrench-silhouette:before { content: "\f28a"; }
.ui-admin-write-a-note:before { content: "\f28b"; }
.ui-admin-x-file:before { content: "\f28c"; }
.ui-admin-zipped-file:before { content: "\f28d"; }
.ui-admin-zoom-minus-sign:before { content: "\f28e"; }
.ui-admin-zoom-with-plus-sign:before { content: "\f28f"; }